In [ ]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
df = pd.read_html("https://www.fdj.fr/jeux-de-tirage/euromillions-my-million/statistiques")
numeros = df[0]

numeros.drop([50], axis=0, inplace=True)
numeros['% de sorties*'] = numeros['% de sorties*'].astype(float) / 100
numeros[['Numéros', 'Nombre de sorties']] = numeros[['Numéros', 'Nombre de sorties']].astype(int)
numeros

    Numéros  Nombre de sorties  % de sorties* Dernière sortie
0         1                 25           7.14        21/03/23
1         2                 36          10.29        07/02/23
2         3                 32           9.14        02/06/23
3         4                 25           7.14        16/05/23
4         5                 39          11.14        23/05/23
5         6                 36          10.29        23/05/23
6         7                 31           8.86        02/05/23
7         8                 25           7.14        05/05/23
8         9                 35          10.00        16/05/23
9        10                 38          10.86        12/05/23
10       11                 36          10.29        28/04/23
11       12                 42          12.00        02/06/23
12       13                 34           9.71        06/06/23
13       14                 33           9.43        23/05/23
14       15                 35          10.00        02/06/23
15       16                 39          11.14        28/04/23
16       17                 39          11.14        09/05/23
17       18                 28           8.00        09/06/23
18       19                 43          12.29        11/04/23
19       20                 35          10.00        21/03/23
20       21                 53          15.14        06/06/23
21       22                 23           6.57        21/02/23
22       23                 36          10.29        23/05/23
23       24                 36          10.29        07/03/23
24       25                 40          11.43        02/06/23
25       26                 39          11.14        09/06/23
26       27                 38          10.86        30/05/23
27       28                 37          10.57        09/05/23
28       29                 38          10.86        30/05/23
29       30                 30           8.57        25/04/23
30       31                 27           7.71        04/04/23
31       32                 37          10.57        06/06/23
32       33                 33           9.43        30/05/23
33       34                 43          12.29        23/05/23
34       35                 41          11.71        18/04/23
35       36                 32           9.14        09/06/23
36       37                 38          10.86        26/05/23
37       38                 42          12.00        26/05/23
38       39                 28           8.00        06/06/23
39       40                 30           8.57        25/04/23
40       41                 32           9.14        09/06/23
41       42                 44          12.57        21/04/23
42       43                 30           8.57        02/06/23
43       44                 31           8.86        12/05/23
44       45                 34           9.71        25/04/23
45       46                 38          10.86        09/05/23
46       47                 37          10.57        30/05/23
47       48                 33           9.43        02/05/23
48       49                 30           8.57        19/05/23
49       50                 34           9.71        09/06/23

In [3]:
# Plot 1

In [ ]:
df_2 = pd.read_html("https://www.fdj.fr/jeux-de-tirage/euromillions-my-million/statistiques")
etoiles = df_2[1][0:12]

etoiles['% de sorties*'] = etoiles['% de sorties*'].astype(float) / 100
etoiles[['Numéros', 'Nombre de sorties']] = etoiles[['Numéros', 'Nombre de sorties']].astype(int)
etoiles

    Numéros  Nombre de sorties  % de sorties* Dernière sortie
0         1                 53          15.14        26/05/23
1         2                 68          19.43        06/06/23
2         3                 76          21.71        19/05/23
3         4                 44          12.57        16/05/23
4         5                 38          10.86        31/03/23
5         6                 67          19.14        12/05/23
6         7                 61          17.43        26/05/23
7         8                 56          16.00        30/05/23
8         9                 52          14.86        19/05/23
9        10                 59          16.86        06/06/23
10       11                 68          19.43        09/06/23
11       12                 58          16.57        09/06/23

In [1]:
# Plot 2

In [ ]:
import random
import numpy as np

# Probabilités historiques pour chaque nombre
prob_numeros = numeros['% de sorties*'] / 100

prob_etoiles = etoiles['% de sorties*'] / 100

# Somme des probabilités pour le lot 1
sum_prob_numeros = sum(prob_numeros)

# Somme des probabilités our le lot 2
sum_prob_etoiles = sum(prob_etoiles)

# Normalisation des probabilités pour le lot 1
prob_numeros_norm = [p/sum_prob_numeros for p in prob_numeros]

# Normalisation des probabilités pour le lot 2
prob_etoiles_norm = [p/sum_prob_etoiles for p in prob_etoiles]

# Tirage sans remise de 5 nombres dans le lot 1
tirage_numeros = list(np.random.choice(range(1, 51), size=5, p=prob_numeros_norm, replace=False))

# Tirage sans remise de 2 nombres dans le lot 2
tirage_etoiles = list(np.random.choice(range(1, 13), size=2, p=prob_etoiles_norm, replace=False))

# Concaténation des résultats des deux lots
resultat = tirage_numeros + tirage_etoiles

print("Tirage :", resultat)

Tirage : [28, 13, 8, 7, 48, 6, 3]

In [ ]:
# Effectuer 100 tirages successifs
results = []
for i in range(100):
    # Tirage sans remise de 5 nombres dans le lot 1
    lot1 = np.random.choice(range(1, 51), size=5, p=prob_numeros_norm, replace=False)

    # Tirage sans remise de 2 nombres dans le lot 2
    lot2 = np.random.choice(range(1, 13), size=2, p=prob_etoiles_norm, replace=False)

    # Concaténation des résultats des deux lots
    Resultat = list(lot1) + list(lot2)
    results.append(Resultat)

results

[[34, 13, 29, 5, 49, 2, 6],
 [34, 40, 3, 1, 50, 3, 2],
 [46, 35, 13, 39, 4, 8, 12],
 [26, 5, 16, 15, 13, 3, 6],
 [45, 3, 30, 19, 27, 12, 2],
 [26, 39, 9, 49, 6, 7, 3],
 [6, 18, 14, 49, 28, 1, 10],
 [30, 12, 26, 9, 35, 1, 12],
 [30, 36, 2, 3, 14, 3, 10],
 [13, 26, 19, 47, 48, 7, 1],
 [10, 45, 44, 11, 35, 8, 5],
 [8, 11, 9, 41, 2, 6, 7],
 [35, 28, 40, 18, 14, 4, 12],
 [33, 8, 15, 27, 43, 12, 5],
 [23, 3, 28, 48, 10, 1, 11],
 [21, 16, 40, 10, 12, 6, 10],
 [6, 48, 36, 45, 27, 1, 10],
 [43, 39, 17, 15, 34, 11, 8],
 [8, 14, 9, 34, 19, 1, 4],
 [11, 14, 35, 22, 34, 7, 11],
 [15, 32, 10, 31, 13, 9, 8],
 [46, 45, 34, 29, 19, 7, 4],
 [20, 2, 10, 29, 8, 9, 7],
 [33, 43, 14, 32, 24, 12, 10],
 [19, 7, 6, 44, 34, 11, 8],
 [5, 10, 20, 7, 44, 2, 5],
 [10, 46, 39, 7, 27, 11, 5],
 [42, 25, 29, 38, 22, 7, 3],
 [41, 17, 50, 14, 32, 7, 3],
 [3, 25, 38, 13, 9, 7, 3],
 [21, 46, 41, 32, 14, 11, 1],
 [21, 46, 35, 34, 45, 3, 1],
 [48, 3, 5, 16, 45, 1, 5],
 [6, 32, 38, 1, 20, 10, 3],
 [32, 4, 10, 12, 20, 11, 6],
 [2, 22, 47, 18, 8, 10, 2],
 [26, 9, 3, 30, 24, 7, 8],
 [29, 34, 24, 10, 15, 2, 1],
 [25, 3, 6, 49, 48, 12, 3],
 [46, 5, 47, 12, 20, 9, 6],
 [23, 46, 30, 32, 17, 8, 12],
 [44, 47, 36, 17, 13, 3, 9],
 [46, 31, 28, 24, 3, 12, 6],
 [38, 24, 37, 1, 42, 10, 1],
 [1, 35, 34, 26, 11, 2, 9],
 [35, 37, 21, 28, 49, 11, 10],
 [19, 34, 33, 23, 22, 12, 2],
 [45, 36, 20, 10, 38, 12, 6],
 [34, 49, 40, 13, 50, 5, 4],
 [42, 29, 19, 25, 5, 3, 6],
 [47, 11, 26, 3, 33, 2, 6],
 [49, 45, 6, 48, 23, 6, 1],
 [1, 27, 39, 21, 6, 9, 5],
 [26, 15, 34, 32, 42, 6, 10],
 [33, 48, 34, 38, 2, 10, 11],
 [42, 11, 25, 28, 45, 4, 1],
 [39, 23, 46, 48, 3, 3, 8],
 [16, 10, 4, 14, 8, 4, 11],
 [46, 18, 3, 2, 49, 6, 10],
 [35, 20, 18, 34, 15, 12, 7],
 [7, 30, 28, 6, 38, 2, 10],
 [40, 45, 2, 46, 20, 2, 4],
 [19, 22, 21, 32, 8, 4, 8],
 [34, 6, 29, 36, 42, 2, 7],
 [27, 13, 18, 3, 49, 5, 12],
 [11, 32, 48, 23, 20, 2, 3],
 [39, 12, 32, 22, 37, 7, 2],
 [45, 12, 20, 50, 48, 2, 6],
 [11, 4, 12, 9, 31, 4, 8],
 [48, 29, 19, 32, 20, 3, 12],
 [32, 23, 13, 26, 38, 10, 1],
 [38, 7, 18, 37, 12, 10, 5],
 [45, 36, 2, 28, 25, 9, 11],
 [5, 21, 7, 32, 44, 2, 12],
 [34, 23, 41, 46, 30, 5, 3],
 [16, 47, 17, 23, 8, 12, 2],
 [36, 17, 40, 21, 12, 7, 11],
 [16, 9, 33, 1, 42, 6, 8],
 [16, 39, 32, 20, 15, 10, 1],
 [31, 38, 30, 37, 15, 2, 11],
 [34, 4, 5, 31, 29, 5, 12],
 [3, 38, 17, 39, 11, 9, 6],
 [5, 14, 24, 27, 29, 5, 1],
 [2, 21, 13, 24, 5, 11, 5],
 [49, 10, 47, 33, 36, 8, 3],
 [13, 30, 50, 17, 35, 9, 6],
 [36, 32, 49, 35, 45, 8, 2],
 [5, 30, 35, 48, 6, 1, 8],
 [45, 36, 8, 49, 5, 7, 3],
 [47, 15, 29, 19, 40, 8, 2],
 [10, 30, 35, 21, 15, 12, 3],
 [19, 35, 50, 12, 26, 5, 1],
 [10, 29, 21, 39, 34, 11, 5],
 [50, 27, 48, 38, 32, 8, 7],
 [46, 10, 42, 27, 32, 3, 6],
 [49, 12, 37, 6, 47, 11, 8],
 [36, 17, 13, 37, 41, 6, 12],
 [11, 47, 44, 46, 8, 12, 6],
 [49, 21, 20, 18, 38, 8, 12],
 [32, 47, 10, 26, 44, 1, 8]]

In [ ]:
from collections import Counter

# Compter les occurrences de chaque valeur dans results
occurrences = Counter([value for sublist in results for value in sublist])

# Obtenir les 7 valeurs les plus présentes
top_values = occurrences.most_common(7)

# Afficher les 7 valeurs les plus présentes
for value, count in top_values:
    print(f"{value}: {count} occurrences")

3: 34 occurrences
6: 32 occurrences
12: 32 occurrences
10: 32 occurrences
2: 29 occurrences
8: 29 occurrences
5: 27 occurrences